*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} 
a {
  text-decoration: none;
}
/* Custom Properties */
:root{
  --secondary-color: #B4D0E7;
  --btn-color: #065FF6;
}
/* Utility */
.mt-l{
  margin-top: 100px;
}
.mt-m{
  margin-top: 70px;
}
.mt-s{
  margin-top: 40px;
}
.mt-xs{
  margin-top: 25px;
}
.font-s{
  font-size: .8rem;
}
.border-slim{
  border: 1px solid #DEDEE1;
}
.debug{
  background-color: greenyellow;
  border: 1px dotted orangered;
}
.d-flex{
  display: flex;
}

/* HEADER */
header{
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 999;
}
nav{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.btn{
  background-color: #065FF6;
  color: white;
  padding: 6px 12px;
  font-size: .8rem;
}
.menu-left img{
  width: 105px;
  margin-top: 4px;
}
.menu-left ul, .menu-right ul{
  height: 100%;
  display: flex;
  align-items: center;
}
nav li, nav a {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-size: .8rem;
}

/* MAIN */
main{
  padding-top: 70px;
}
#hero{
  background-color: #B4D0E7;
  height: 75vh;
  /* TODO: forse dopo posso levare l'height */
}

/* CONTAINER */
/* TODO:controllare se il margin da problemi */
.container{
  width: 65%;
  min-width: 900px; 
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.small-container{
  width: 55%;
  min-width: 790px;
  /* height: 800px; */
  margin:  auto;
  margin-top: 120px;
}
.mini-container{
  width: 32%;
}
/* /FINE CONTAINER */

/* HERO SECTION */
h2{
  font-size: 3.7rem;
  font-weight: 800;
}
#hero h2{
  padding-top: 60px;
}
#hero .mini-container {
  font-size: .8rem;
}
.mini-container i{
  font-size: 2.5rem;
  /* FIXME: mettere position absolute bottom e non margin top */
  margin-top: 65px;
}
.jumbo{
  /* FIXME: Sistemare comportamento */
  width: 665px;
  position: absolute;
  right: 0;
  top: 262px;
}

/* Plans */
.small-container h3{
  font-size: 2rem;
}
.radio-btn input{
  margin-right: 5px;
}
.radio-btn label{
  margin-right: 40px;
}  
.small-container label {
  font-size: .7rem;
}
.plan-columns{
  justify-content: space-between;
}
.plan-col{
  width: calc(90%/3);
  height: 700px;
}
.plan-name{
  text-align: center;
  padding: 8px;
  font-size: .7rem;
} 
.col-content span a {
  text-decoration: underline;
}
.plan-row{
  height: 220px;
  width: 100%;
}
.col-content{
  width: 85%;
  margin: 30px auto;
  position: relative;
}
.col-content ul{
  list-style: none;
}
.col-content h4{
  font-size: 1.2rem;
}
.col-content ul span{
  font-size: .7rem;
  margin-right: 5px;
}
ul.plan-type :nth-child(3){
  /* font-size: .7rem; */
  opacity: 60%;
}
.col-content ul h4{
  margin-bottom: 15px;
}
.col-content ul h6{
  margin-bottom: 5px;
}
.col-content .description li{
  margin-bottom: 20px;
}
ul hr{
  width: 20%;
  opacity: 60%;
  margin-top: 30px;
}
ul.highlights li:first-child{
  margin-bottom: 25px
}
.highlights li{
  margin-bottom: 15px ;
}
.highlights span i{
  color: #065FF6;
}

/* RIGA PLAN */
.plan-row .plan-type :nth-child(3){
  margin-top: 40px;
}
.plan-row .btn{
  width: calc(90%/3);
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

/* SECTION PARTNER */
#partner .img-partner{
  width: 60%;
}
#partner .text-partner{
  width: 40%;
  margin: 40px;
  /* line-height: 1.6rem; */
}
.text-partner h4{
  font-size: 1.2rem;
}
.text-partner p{
  font-size: .8rem;
  margin-top: 15px;
}
.text-partner a {
  background-color: white;
  color: black;
  padding:8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.465);
}
/* SECTION OPERATIONS */
.operations-row{
justify-content: space-between;
}
.operations-row .card{
  width: calc(90%/3);
  height: 300px;
  margin-top: 30px;
}
.card p{
  font-size: .8rem;
  margin-top: 25px;
}
.card h4{
  font-size: 1.2rem;
}
/* SECTION CUSTOMERS */
#customers .small-container a {
  font-size: .8rem;
  text-decoration: underline;
}
#customers .small-container{
  padding-top: 100px;
}
.box{
  /* height: 500px; */
  width: 100vw;
}
.box > div{
  width: calc(100vw / 3);
  height: 100%;
  aspect-ratio: 1/1;
}
.box-row{
  /* height: 50%; */
  width: 100%;
}
.box-row div{
  width: 50%;
  height: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-row div img{
  filter: invert(1);
  width: 120px;
}
.box-uno .box-row #green{
  background-color: #A2D39B;
}
.box-uno .box-row #bordeaux{
  background-color: #61142B;
}
.box-uno .box-row #lightblue{
  background-color: #3694CE;
}
.box-uno .box-row #red{
  background-color: #ED3833;
}
.box-due{
  background-color: #F5F5F5;
}
.box-due img{
  width: 200px;
}
.box-due > div{
  width: 90%;
  margin: 30px auto;
}
.box-due hr{
  width: 17%;
  margin: 30px 0;
}
.box-due p, .box-due span{
  font-size: .8rem;
  margin-bottom: 40px;
}
.box-tre .box-row #dark-red{
  background-color: #D6312D;
}
.box-tre .box-row #hearst{
  background-color: #B4D0E7;
}
.box-tre .box-row #lonely-planet{
  background-color: #0D2481;
}
.box-tre .box-row #clear-channel{
  background-color: #FCD94B;
}
/* SECTION CTA */
#cta{
  height: 280px;
  background-color: #B4D0E7;
  align-items: center;
}
#cta h3{
  color: #631D36;
}
#cta .small-container{
  margin: 0 auto;
  justify-content: space-between;
}
#cta .small-container .btn{
  padding: 8px 35px;
  position: relative;
  top: 10px;
  background-color: white;
  color: black;
}
/* SECTION FAQ */
#faq{
  height: 560px;
}
#faq .small-container{
  position: relative;
}
#faq .small-container h3{
  border-bottom: 1px solid rgba(0, 0, 0, 0.399);
  height: 90px;
}
#faq .small-container h5{
  border-bottom: 1px solid rgba(0, 0, 0, 0.283);
  height: 50px;
  margin-top: 30px;
}
#faq .small-container h5 span{
  position: absolute;
  right: 30px;
  font-size: .8rem;
}
/* FOOTER */
